- if object.errors.any?
  #error_explanation
    .alert.alert-error
      The forms contains
      = pluralize(object.errors.count, "error")
      %ul
        - object.errors.full_messages.each do |msg|
          %li* #{ msg }

